.fondo-nav {
    background-image: linear-gradient(to bottom, #361476, #2d1067, #250d58, #1e0949, #17043b) !important;
}

.logo {
    height: 75px;
    padding: 0 40px;
    line-height: 80px;

}

.carousel-inner img {
    width: 100%;
}

.nft6img {
    height: 200px;
    width: 100px;
}

.titulo-1 {
    text-align: center;
    font-family: sans-serif;
}

.subtitulo-01 {
    text-align: center;
    font-family: sans-serif;

}

.parrafo-nike {
    padding: 35px 35px;
    line-height: 30px;
    font-size: 20px;
}

.grid-balenciaga {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "balenciaga3 balenciaga3 balenciaga4 balenciaga4"
        "balenciaga5 balenciaga5 balenciaga6 balenciaga6";
}

.balenciaga5 {
    justify-self: center;
    align-self: center;
    grid-area: balenciaga5;
}

.balenciaga6 {
    justify-self: center;
    align-self: center;
    grid-area: balenciaga6;
}

.balenciaga3 {
    justify-self: center;
    align-self: center;
    grid-area: balenciaga3;
}

.balenciaga4 {
    justify-self: center;
    align-self: center;
    grid-area: balenciaga4;
}
.grid-balenciaga1 {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "balenciaga-1 balenciaga-2";
}

.balenciaga-1 { grid-area: balenciaga-1; }

.balenciaga-2 { grid-area: balenciaga-2; }


form {
    width: 450px;
    margin: auto;
    background: #5c1579;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
}

.form {
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #100216;
    color: #fff;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
}

.pie-pagina {
    width: 100%;
    background-image: linear-gradient(to bottom, #361476, #2d1067, #250d58, #1e0949, #17043b);
    height: 100%
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;

}

.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;

}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: linear-gradient(to bottom, #361476, #2d1067, #250d58, #1e0949, #17043b);
    ;
    text-align: center;
    transition: all 0.5s ease;
}